h1 {
    color: #002966;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #ff4d94;
    border: 1px solid #060505;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
}

.status {
    margin-top: 20px;
    font-size: 1.5em;
}

.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.reset-button:hover {
    background-color: #39413a;
}
